.Rproj.user
.Rhistory
.RData
.Ruserdata
*.key
/teach-data-science-PDF
teach-data-science-PDF.zip
03-reproducible-workflows/Teaching Data Science - GitHub names (Responses) - Form Responses 1.csv
hw-01-collect/
